.InforMation {
  background-color: #f6f6f6;
  text-align: center;
  height: 750px;
  width: 100%;
  padding-top: 100px;
}

.InforMation h2, .InforMation p {
  margin-top: auto;
}

.InforMation h2{
  margin-bottom: 6px;
}

.blog-enhancement__item {
  display: inline-block;
  width: 25%;
  height: 300px;
  margin: 10px;
  margin-top: 50px;
  padding: 10px;

  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;  
}

.blog-enhancement__item a {
  text-decoration: none;
  color: inherit;
}

.blog-enhancement__img img {
  max-width: 100%;
  height: auto;
}

.blog-enhancement__title {
  color: rgb(183, 10, 10);
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 4px;
}

.blog-enhancement__date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0px;
}

.blog-enhancement__content {
  margin-top: 5px;
}

.blog-enhancement__content--title {
  font-size: 1rem;
  font-weight: bold;
}


.blog-enhancement__content--desc {
  font-size: 0.8rem;
  margin-top: 2px;
  line-height: 1.4;
  color: #333;
}
