body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  
.Top_bar {
    background-color: red;
    color: white;
    display: flex;

  }

#logo {
    margin-left: 10px;
    background-color: black;
    border: 2px solid;
    padding: 2px 6px 2px 6px;
    border-color: black;
}
#Topic{
    margin: 20px;
    padding-left: 0px;
    padding-right: 1100px;
    color: white;
}

#menu, #about, #sup, #log, #topic_1 {
    padding-left: 30px;
    padding-top: 5px;
    color: white;
    
}

#Topic:active,#about:active,#sup:active,#log:active{
    color: black;
}

.Body_1 {
    display: flex;
    align-items: center;
    height: 960px;
    background-color:  rgb(157, 0, 0);
}

#topic_1 {
    padding-left: 400px;
}

#Picbo1 {
    position: absolute;  /* ทำให้รูปไม่เคลื่อน */
    margin-left: 1100px;
    margin-bottom: 80px;
}

.space{
    height: 500px;
    background-color: white;
}
.Body_2 {
    background-color: yellow;
    height: 960px;
    text-align: center;
}

#topic_2 {
    padding-top: 480px;
}


.Body_3 {
    height: 960px;
    background-color: white;
}

.Bottom_Bar {
    height: 400px;
    background-color: red;
}
