body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  
  .Top_bar {
    background-color: red;
    color: white;
    display: flex;
  
  }
  
  #logo {
    margin-left: 5px;
    background-color:black;
    border: 2px solid;
    padding: 20px 10px 5px 10px;
    border-color: black;
    
  }
  #Topic{
    margin: 10px;
    padding-left: 20px;
    color: white;
  }
  
  #menu, #about, #sup, #log, #topic_1, #reg{
    margin-left: 10px;
    padding-top: 20px;
    text-align: right;
    color: white;
    
  }
  
  #Topic:active,#about:active,#sup:active,#log:active{
    color: black;
  }
  
  .Body_1 {
    display: flex;
    align-items: center;
    height: 960px;
    background-color:  rgb(157, 0, 0);
  }
  
  #topic_1 {
    padding-left: 400px;
  }
  
  #Picbo1 {
    position: absolute;  /* ทำให้รูปไม่เคลื่อน */
    margin-left: 1100px;
    margin-bottom: 80px;
  }
  
  .space{
    height: 500px;
    background-color: white;
  }
  .Body_2 {
    background-color: yellow;
    height: 960px;
    text-align: center;
  }
  
  #topic_2 {
    padding-top: 40px;
    
  }
  
  
  .Body_3 {
    height: 960px;
    background-color: white;
  }
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .rows{
    display: flex;
    flex-wrap: wrap;
  }
  .container{
    max-width: 1170px;
    margin: auto;
  
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: red;
    padding: 70px 0;
  }
  .footer-col{
    width: 33%;
    padding: 0 15px;
  }
  .footer-col h4{
    font-size: 32px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: yellow;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover{
    color: yellow;
    padding-left: 8px;
  }
  
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
    
  }
  .footer-col ul li{
    font-size: 20px;
    color: white;
  }
  
  .footer-col .social-links a:hover{
    color: yellow;
    transform: rotate(360deg);
    background-color: red;
  }
  