.social-links a {
    text-decoration: none;
    color: #333; 
  }
  
.fb-logo, .ig-logo {
    width: 30px; 
    height: auto; 
    margin-right: 2px; 
    margin-bottom: 4px;
  }


td {
    text-align: center;
}