
h1 {
    text-align: center;
    font-family: quicksand;
}

table, td, th {
    border: 1px solid;
  }

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.container {
    max-width: 1400px; 
    margin: 40px auto; 
    background-color: #fff;
    overflow: hidden;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 40px;
}

.slider-container, .slider-container2, .slider-container3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    
}

.slider, .slider2, .slider3 {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider img, .slider2 img, .slider3 img {
    width: 100%;
    height: 590px;
    object-fit: cover;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}