.Column {
    margin: 50px;
    padding: 20px;
    background-color: #f0f0f0;
    height: 1040px;
}


.Contact {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; 
}

.Contact h1 {
    font-size: 24px;
    color: #333;
}

.Contact ul {
    list-style: none;
    padding: 0;
}

.Contact li {
    margin-bottom: 10px;
    color: #555;
}


.Tutorials {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; 
}

.Tutorials h1 {
    font-size: 24px;
    color: #333;
}

.Tutorials ul {
    list-style: none;
    padding: 0;
}

.Tutorials li {
    margin-bottom: 10px;
    color: #555;
}


.Pleasure {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; 
}

.Pleasure p {
    margin-bottom: 10px;
    color: #555;
}
